.header {
  width: 100%;
  height: 100vh;
  background: url('../img/sunset-background.jpg') center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 0.95;
  transition: all ease 0.5s;
  text-align: center;
}

.header-content {
  position: relative;
  color: white;
  text-align: center;
  width: 100%;
  font-family: 'Palatino';
  letter-spacing: 1.05px;
  top: 40%;
}

.header-content h1 {
  font-size: 64px;
  font-family: 'Palatino';
  padding: 0;
  margin: 0;
}

.header-content span {
  display: block;
  font-size: 22px;
  padding-bottom: 15px;
}

.down-button {
  position: absolute;
  bottom: 0px;
  transition: all ease 0.5s;
}
.down-button svg {
  width: 70px;
  height: 70px;
  margin-left: -35px;
}
.down-button svg path {
  fill: rgba(255, 255, 255, 0.7);
}
.down-button:hover svg path {
  fill: rgba(255, 255, 255, 1);
  transition: all ease 0.5s;
}
